{{ if and .Site.Params.enablePostNav (in .Site.Params.mainSections .Section) }}
    {{ if .Site.Params.postNavInSection }}
        {{ .Scratch.Set "prev" .PrevInSection }}
        {{ .Scratch.Set "next" .NextInSection }}
    {{ else }}
        {{ .Scratch.Set "prev" .Prev }}
        {{ .Scratch.Set "next" .Next }}
    {{ end }}
    {{ $prev := .Scratch.Get "prev" }}
    {{ $next := .Scratch.Get "next" }}
    {{ if or $prev $next }}
        <ul class="post-nav">
            {{ if $next }}
                <li class="post-nav-prev">
                    <a href="{{ $next.RelPermalink }}" rel="prev">
                        <span class="nav-arrow">&lt;&nbsp;</span>
                        <span class="nav-content">
                            <span class="nav-title">{{ (partial "utils/title.html" (dict "$" $next "title" $next.LinkTitle)).htmlTitle }}</span>
                        </span>
                    </a>
                </li>
            {{ end }}
            {{ if $prev }}
                <li class="post-nav-next">
                    <a href="{{ $prev.RelPermalink }}" rel="next">
                        <span class="nav-content">
                            <span class="nav-title">{{ (partial "utils/title.html" (dict "$" $prev "title" $prev.LinkTitle)).htmlTitle }}</span>
                        </span>
                        <span class="nav-arrow">&nbsp;&gt;</span>
                    </a>
                </li>
            {{ end }}
        </ul>
    {{ end }}
{{ end }}
