{{ define "main" }}
    <main class="main list" id="main">
        <div class="main-inner">
            <div class="content list-group">
                <h1 class="list-title">{{ .Title }}</h1>
                {{ .Content }}

                {{ $filteredPages := where site.RegularPages "Params.noArchive" "!=" true }}
                {{ range $filteredPages.GroupByDate "2006" }}
                    {{ $zodiacName := "" }}
                    {{ if site.Params.chineseZodiac }}
                        {{ $zodiacName = (index site.Data.ChineseZodiac (string (mod .Key 12))) }}
                    {{ end }}
                    {{ $year := .Key }}
                    {{ if site.Params.i18nYear }}
                        {{ $key := .Key }}
                        {{ $num := slice }}
                        {{ range (slice 1 2 3 4) }}
                            {{ $num = $num | append (substr $key (sub . 1) 1) }}
                        {{ end }}
                        {{ $i18nNum := slice }}
                        {{ range $num }}
                            {{ $i18nNum = $i18nNum | append (i18n .) }}
                        {{ end }}
                        {{ $year = delimit $i18nNum "" }}
                    {{ end }}
                    <h2 class="list-year">
                        {{ $year }}
                        {{ if site.Params.chineseZodiac }}
                            {{ partial "utils/icon.html" (dict "$" $ "name" $zodiacName "class" "chinese-zodiac") }}
                        {{ end }}
                    </h2>
                    {{ if site.Params.groupByMonth }}
                        {{ range .Pages.GroupByDate "January" }}
                            {{ $month := .Key }}
                            {{ if site.Params.i18nMonth }}
                                {{ $month = i18n (lower .Key) }}
                            {{ end }}
                            <h3 class="list-month">{{ $month }}</h3>
                            {{ partial "utils/list-item.html" (dict "$" .) }}
                        {{ end }}
                    {{ else }}
                        {{ partial "utils/list-item.html" (dict "$" .) }}
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </main>
{{ end }}
